# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environment
# =========================
.venv/
venv/
env/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / Editors
# =========================
.vscode/
.idea/

# =========================
# Project specific
# =========================
#data/outputs/
#data/inputs/

# =========================
# Logs
# =========================
*.log